# Data Repairer

이 노트북은 기존 train.csv에 있는 잘못된 label을 수정합니다.

### Import

In [1]:
import pandas as pd
import argparse

### Read argument

In [2]:
parser = argparse.ArgumentParser()
parser.add_argument('--data_path', type=str, default="data/")
parser.add_argument('--file_name_train', type=str, default="train_repaired.csv")
parser.add_argument('--file_name_info', type=str, default="artists_info_repaired.csv")

args = parser.parse_args('')
args

Namespace(data_path='data/', file_name_train='train_repaired.csv', file_name_info='artists_info_repaired.csv')

### Read CSV

In [3]:
train_df = pd.read_csv(args.data_path+'train.csv')
info_df = pd.read_csv(args.data_path+'artists_info.csv')

Repair data

In [4]:
train_df['artist'][3896] = 'Titian'
train_df['id'][3986] = 3986
train_df['artist'][3986] = 'Alfred Sisley'
train_df.head()
info_df['name'][19] = 'Albrecht Du rer'

/var/folders/tt/rzkp3b196xgcrq4vy2lj0bbm0000gn/T/ipykernel_18136/481764593.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['artist'][3896] = 'Titian'
/var/folders/tt/rzkp3b196xgcrq4vy2lj0bbm0000gn/T/ipykernel_18136/481764593.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['id'][3986] = 3986
/var/folders/tt/rzkp3b196xgcrq4vy2lj0bbm0000gn/T/ipykernel_18136/481764593.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['artist'][3986] = 'Alfred Sisley'

### Save repaired data to CSV

In [5]:
train_df.to_csv(args.data_path + args.file_name_train, index=False)
train_df =  pd.read_csv(args.data_path + args.file_name_train)
train_df.head()

   id          img_path            artist
0   0  ./train/0000.jpg   Diego Velazquez
1   1  ./train/0001.jpg  Vincent van Gogh
2   2  ./train/0002.jpg      Claude Monet
3   3  ./train/0003.jpg       Edgar Degas
4   4  ./train/0004.jpg  Hieronymus Bosch

In [6]:
info_df.to_csv(args.data_path + args.file_name_info, index=False)
info_df =  pd.read_csv(args.data_path + args.file_name_info)
info_df.head()

                 name        years                         genre nationality
0   Amedeo Modigliani  1884 - 1920                 Expressionism     Italian
1  Vasiliy Kandinskiy  1866 - 1944  Expressionism,Abstractionism     Russian
2        Diego Rivera  1886 - 1957       Social Realism,Muralism     Mexican
3        Claude Monet  1840 - 1926                 Impressionism      French
4       Rene Magritte  1898 - 1967      Surrealism,Impressionism     Belgian